.app.dark {
  --bg-color: #373784;
  --inverted-bg-color: #968f8f;

  --primary-color: #0fe40f;
  --secondary-color: #f7f490;

  --inverted-primary-color: blue;
  --inverted-secondary-color: #29a7d1;
}
