.app.light {
  --bg-color: #968f8f;
  --inverted-bg-color: #373784;
  --primary-color: blue;
  --secondary-color: #29a7d1;
  --inverted-primary-color: #0fe40f;
  --inverted-secondary-color: #f7f490;
}
